@charset 'UTF-8';

// base.scssの呼び出し
@use './_modules/base' as base; 		// ← _modules内の_base.scss
@use './_modules/reset.css' as reset;

// img block
img{
    display: block;
}

// コンテンツ幅
.contentWidth{
    width: base.sp(335);
    margin: 0 auto;
    @include base.mq(tab) {
        margin: 0 auto;
    }
}

// listタグの点を消去する。
li{
    list-style: none;
}

.underNav {
    position: fixed;
    width: 100%;
    height: 55px;
    @include base.mq(tab) {
        display: none;
    }
    &__menu {
        cursor: pointer;
        position: fixed;
        display: flex;
        bottom: 0;
    }
    &__item {
        &--A {
            display: flex;
            font-size: 15px;
            font-weight: bold;
            color: base.$blue_color;
            width: 132px;
            background-color: base.$yellow_color;
            line-height: 35px;
            & img {
                width: 20px;
                height: 20px;
                margin: 5px 10px 0 5px;
            }
        }
        &--B {
            display: flex;
            font-weight: bold;
            color: base.$white_color;
            width: 132px;
            background-color: base.$blue_color;
            line-height: 35px;
            & img {
                width: 20px;
                height: 15px;
                margin: 10px 5px 0 5px;
            }
        }
        &--C {
            width: 55px;
            font-size: 10px;
            font-weight: bold;
            color: base.$white_color;
            background-color: #A3A3A3;
            text-align: center;
            & img {
                margin: 0 auto;
            }
        }
        &--D {
            width: 55px;
            font-size: 10px;
            font-weight: bold;
            color: base.$white_color;
            background-color: base.$black_color;
            text-align: center;
            & img {
                margin: 5px auto 5px auto;
            }
        }
    }
}

// ヘッダー
.head{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 65px;
    padding-bottom: 65px;
    // ハンバーガーメニュー
    &__box {
        position: relative;
        z-index: 20;
        background-color: base.$blue_color;
        margin: 0 0 0 auto;
        width: 65px;
        height: 65px;
        cursor: pointer;
        @include base.mq(tab) {
            display: none;
        }
    }

    &__ham {
        position: relative;
        top: 15px;
        left: 21px;
        width: 25px;
        height: 19px;
    }

    &__line {
        position: absolute;
        background-color: base.$white_color;
        width: 100%;
        height: 1px;
        transition: all 0.5s ease;
    }

    &__line:nth-child(1) {
        top: 0;
    }

    &__line:nth-child(2) {
        top: 8px;
    }

    &__line:nth-child(3) {
        top: 16px;
    }

    &__menu{
        position: absolute;
        top: 41px;
        left: 18px;
        font-size: 10px;
        color: #FFFFFF;
    }

    // ナビゲーションメニュー
    &__nav {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        width: 280px;
        height: 100%;
        color: base.$white_color;
        background-color: base.$blue_color;
        font-size: 16px;
        font-weight: bold;
    }
    &__item {
        padding-top: 67px;
        padding-left: 45px;
        line-height: 50px;
        & li {
            cursor: pointer;
        }
    }
}

.webBonus {
    width: 100%;
    height: 190px;
    background-color: base.$yellow_color;
    @include base.mq(tab) {
        height: 350px;
    }
    & img {
        width: 335px;
        margin: 0 auto;
        padding-top: 25px;
        @include base.mq(tab) {
            width: 650px;
            padding-top: 43px;
        }
    }
}

.form {
    width: 335px;
    margin: 0 auto 74px auto;
    @include base.mq(tab) {
        width: 700px;
    }

    // お問い合わせフォーム タイトルと詳細
    &__til {
        font-size: 35px;
        font-weight: bold;
        color: base.$blue_color;
        text-align: center;
        margin-top: 34px;
        margin-bottom: 33px;
    }

    &__subTil {
        width: 335px;
        margin: 0 auto 39px auto;
        font-size: 14px;
        font-weight: bold; 
        line-height: 25px;
        @include base.mq(tab) {
            width: 695px;
            text-align: center;
        }
        &__spanOne {   
            @include base.mq(tab) {
                display: block;
            }
        }
        &__spanTwo {
            display: block;
            color: base.$red_Color;
        }
    }

    // お問い合わせフォーム 入力欄
    &__name {
        margin-bottom: 31px;

        & label {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 6px;
            &::after {
                content: '必須';
                position: relative;
                left: 9px;
                bottom: 3px;
                display: inline-block;
                width: 40px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                background-color: base.$yellow_color;
                color: base.$blue_color;
            }
        }
        & input {
            padding-left: 10px;
            margin-top: 6px;
            width: 335px;
            height: 50px;
            border: solid base.$blue_color;
            border-radius: 6px;
            @include base.mq(tab) {
                width: 700px;
            }
        }
    }

    &__tel {
        margin-bottom: 31px;

        & label {
            font-size: 16px;
            font-weight: bold;
            &::after {
                content: '必須';
                position: relative;
                left: 9px;
                bottom: 3px;
                display: inline-block;
                width: 40px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                background-color: base.$yellow_color;
                color: base.$blue_color;
            }
        }
        & input {
            padding-left: 10px;
            margin-top: 6px;
            width: 335px;
            height: 50px;
            border: solid base.$blue_color;
            border-radius: 6px;
            @include base.mq(tab) {
                width: 700px;
            }
        }
    }

    &__mail {
        margin-bottom: 31px;

        & label {
            font-size: 16px;
            font-weight: bold;
            &::after {
                content: '必須';
                position: relative;
                left: 9px;
                bottom: 3px;
                display: inline-block;
                width: 40px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                font-size: 12px;
                background-color: base.$yellow_color;
                color: base.$blue_color;
            }
        }
        & input {
            padding-left: 10px;
            margin-top: 6px;
            width: 335px;
            height: 50px;
            border: solid base.$blue_color;
            border-radius: 6px;
            @include base.mq(tab) {
                width: 700px;
            }
        }  
    }

    &__loan {
        margin-bottom: 28px;
        
        & h3 {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 6px;
        }
        & input {
            width: 35px;
            height: 35px;
            border-radius: 6px;
            border: 1.5px base.$blue_color solid;
        }
        & label {
            font-size: 16px;
            font-weight: bold;
            padding-left: 9px;
        }
    }

    &__car {
        margin-bottom: 28px;

        & label {
            font-size: 16px;
            font-weight: bold;
        }
        & input {
            padding-left: 10px;
            margin-top: 6px;
            width: 335px;
            height: 50px;
            border: solid base.$blue_color;
            border-radius: 6px;
            @include base.mq(tab) {
                width: 700px;
            }
        }  
    }

    &__contact {
        margin-bottom: 28px;

        & label {
            font-size: 16px;
            font-weight: bold;
        }
        & textarea {
            width: 335px;
            height: 150px;
            border-radius: 6px;
            border: 1.5px base.$blue_color solid;
            padding-top: 17px;
            padding-left: 10px;
            @include base.mq(tab) {
                width: 700px;
            }
        }
    }

    &__policy {
        margin-bottom: 28px;
        
        & input {
            width: 35px;
            height: 35px;
            border-radius: 6px;
            border: 1.5px base.$blue_color solid;
        }
        & label {
            display: inline;
            font-size: 16px;
            font-weight: bold;
            padding-left: 9px;

        }
        & img {
            display: inline;
            padding-bottom: 18px;
        }
        & a {
            text-decoration: underline;
            color: base.$blue_color;
        }
    }

    // ボタンの実装
    &__planBox {
        width: 255px;
        height: 55px;
        margin:  0 auto;
        text-align: center;
        line-height: 55px;  
        border-radius: 4px;
        box-shadow: 0px 5px base.$darkyellow_color;
        background-color: base.$yellow_color;
    }
    &__planBtn {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: base.$blue_color;
        &::before {
            content: '▶︎';
            position: relative;
            right: 30px;
        }
    }
    &__planBox:hover {
        transform: translate3d(0, 5px, 0);
        box-shadow: none;
        background-color: base.$hoveryellow_color;
    }

    // 注意文章
    &__attention {
        margin-top: 45px;

        & p {
            font-size: 14px;
            font-weight: bold;
            line-height: 23px;
            @include base.mq(tab) {
                text-align: center;
            }
        }
        &--sent {
            color: base.$red_Color
        }
        &--newLine {
            display: block;
        }
    }
 }

 .store {
    background-color: base.$blue_color ;
    color: base.$white_color;

    &__info {
        @include base.mq(tab) {
            width: 790px;
            margin: 0 auto;
            padding-bottom: 125px;
            display: flex;
        }
    }

    &__til {
        padding-top: 37px;
        margin-bottom: 56px;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    &__jump {
        width: 335px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        & h2 {
            font-size: 20px;
            font-weight: bold;
        }

        & a {
            font-size: 14px;
        }
    }

    &__line {
        width: 335px;
        height: 1px;
        margin: 17px auto 15px auto ;
        background-color: base.$white_color;
    }

    // 店舗詳細
    &__box {
        display: flex;
        justify-content: space-between;
        width: 335px;
        margin: 0 auto;
    }
    &__item {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 14px;

        &--last {
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 30px;
        }
    }
    &__pd {
        padding-bottom: 63px;
        // @include base.mq(tab) {
        //     padding-bottom: 125px;
        // }
    }

    // MAPで見るボタン PC版display:none用
    &__btnPc {
        @include base.mq(tab) {
            display: none;
        }
    }
  }

 .connne {
    &__backYellowPc {
        background-color: base.$yellow_color;
    }

    padding-bottom: 20px;
    background-color: base.$yellow_color;
    @include base.mq(tab) {
        display: flex;
        width: 900px;
        margin: 0 auto;
    }

    & h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: base.$blue_color;
        padding-top: 17px;
        @include base.mq(tab) {
            line-height: 50px;
        }
    }
    &__list {
        display: grid;
        grid-template-rows: 55px 55px;
        grid-template-columns: 100px 100px 100px;
        column-gap: 17.5px;
        row-gap: 15px;
        width: 335px;
        margin: 18px auto 0 auto;
        @include base.mq(tab) {
            width: 600px;
            grid-template-rows: 55px;
            grid-template-columns: 100px 100px 100px 100px 100px 100px;
        }
    }
    &__item {
        width: 100px;
        height: 55px;
        background-color: base.$white_color;

        & img {
            width: 72px;
        }
    }
    &__itemBox {
        &--A {
            width: 72px;
            margin: 0 auto;
            padding-top: 10px;
        }
        &--B {
            width: 72px;
            margin: 0 auto;
            padding-top: 10px;
            
        }
        &--C {
            width: 72px;
            margin: 0 auto;
            padding-top: 15px;
        }
        &--D {
            width: 72px;
            margin: 0 auto;
            padding-top: 18px;
            
        }
        &--E {
            width: 72px;
            margin: 0 auto;
            padding-top: 15px;
            
        }
        &--F {
            width: 72px;
            margin: 0 auto;
            padding-top: 18px;
        }
    }
 }

 .googleMap {
    width: 335px;
    margin: 0 auto 63px auto;
 }

 .foot {
    color: base.$white_color;
    background-color: #393939;
    font-size: 14px;

    &__flexBox {
        display: flex;
    }
    &__box {
        width: 335px;
        margin: 0 auto;
        padding: 60px 0 69px 0;
        @include base.mq(tab) {
            width: 800px;
        }
    }
    &__miniBox--B {
        @include base.mq(tab) {
            display: flex;
        }
    }
    &__main {
        width: 165px;
        @include base.mq(tab) {
            width: 200px;
        }
    }
    &__contact {
        @include base.mq(tab) {
            position: relative;
            top: -80px;
            left: 700px;
        }
    }
    &__carplan {
        width: 165px;
        margin: 0 0 0 auto;
        @include base.mq(tab) {
            width: 280px;
        }
    }
    &__access {
        margin-top: 64px;
        @include base.mq(tab) {
            margin-top: 0px;
        }
    }
    &__mr {
        margin-bottom: 30px;
        @include base.mq(tab) {
            margin-bottom: 10px;
        }
    }

    // コピーライト
    &__cr {
        font-size: 12px;
        margin-top: 69px;
        text-align: center;
        @include base.mq(tab) {
            position: relative;
            top: 60px;
            margin-top: 200px;
        }
    }
 }

.reco{
    // ボタンの実装
    &__planBox {
        cursor: pointer;
        width: 255px;
        height: 55px;
        margin:  0 auto;
        text-align: center;
        line-height: 55px;
        border-radius: 4px;
        box-shadow: 0px 5px base.$darkyellow_color;
        background-color: base.$yellow_color;
    }
    &__planBtn {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: base.$blue_color;
        &::before {
            content: '▶︎';
            position: relative;
            right: 60px;
        }
    }
    &__planBox:hover {
        transform: translate3d(0, 5px, 0);
        box-shadow: none;
        background-color: base.$hoveryellow_color;
    }
}

// Q & A
.que {
    &__til--ver {
        height: 70px;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        line-height: 70px;
        color: base.$blue_color;
        margin-top: 57px;
    }

    &__box {
        width: 335px;
        margin: 50px auto 63px auto;
        @include base.mq(tab) {
            width: 900px;
        }
    }

    &__q {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        @include base.mq(tab) {
            justify-content: left;
        }
        & p {
            width: 270px;
            font-size: 18px;
            font-weight: bold;
            color: base.$lightblue_color;
            @include base.mq(tab) {
                width: 413px;
                margin-left: 20px;
                margin-top: 15px;
            }
        }
    }

    &__a {
        display: flex;
        justify-content: space-between;
        @include base.mq(tab) {
            justify-content: left;
        }
        & img {
            width: auto;
            height: 41px;
        }
        & p {
            width: 270px;
            font-size: 14px;
            font-weight: bold;
            @include base.mq(tab) {
                width: 844px;
                margin-left: 20px;
                margin-top: 15px;
            }
        }
        & span {
            color: base.$red_Color;
        }
    }

    &__p {
        position: relative;
        top: 20px;
        @include base.mq(tab) {
            top: 0;
        }
    }
}

// 全てのカラーからお選びいただけます！
.colorGrade {
    &__sen {
        width: 335px;
        line-height: 40px;
        margin: 0 auto 49px auto;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        @include base.mq(tab) {
            width: 1000px;
        }
    }
    &__redLine {
        display: flex;
        justify-content: space-between;
        font-size: 33px;
        color: base.$red_Color;
        text-decoration: underline;
    }
    &__inline {
        @include base.mq(tab) {
            width: 500px;
            display: flex;
            margin: 0 auto;
        }
        & p {
            @include base.mq(tab) {
                margin-right: 30px;
            }
        }
    }

    // 車の写真
    &__pic {
        @include base.mq(tab) {
            width: 1000px;
            display: flex;
            column-gap: 50px;
            margin: 0 auto;
        }
    }

    &__choise {
        position: relative;
        & img {
            width: 300px;
            margin: 0 auto;
        }
        &--mr {
            margin-top: 68px;
            @include base.mq(tab) {
                margin-top: 0px;
            }
        }
    }

    // ボタン関係
    &__btn {
        position: relative;
        font-size: 20px;
        font-weight: bold;
        color: base.$white_color;
        text-align: center;
        width: 300px;
        height: 50px;
        margin: 0 auto 35px auto;
        line-height: 50px;
        background-color: base.$green_color;
        box-shadow: 0 5px #23761B;
        border-radius: 4px;
        &:hover {
            transform: translate3d(0, 5px, 0);
            box-shadow: none;
            background-color: #a5ec9f;
        }
        &--red {
            background-color: base.$red_Color;
            box-shadow: 0 5px #A02020;
            &:hover {
                transform: translate3d(0, 5px, 0);
                box-shadow: none;
                background-color: #ec9f9f;
            }
        }
        &--purple {
            background-color: base.$purple_color;
            box-shadow: 0 5px #3E1C65;
            &:hover {
                transform: translate3d(0, 5px, 0);
                box-shadow: none;
                background-color: #d29fec;
            }
        }
    }

    &__sw {
        width: 300px;
        height: 50px;

        & span {
            font-size: 35px;
        }
        &::before {
            content: '▶︎';
            position: absolute;
            top: 0;
            left: 17px;
        }
    }

    // 吹き出し
    &__spBlle {
        position: absolute;
        display: inline-block;
        width: 100px;
        height: 100px;
        bottom: 220px;
        left: 10px;
        text-align: center;
        color: base.$white_color;
        font-size: 14px;
        background: base.$green_color;
        border-radius: 50%;
        box-sizing: border-box;
        @include base.mq(tab) {
            top: -85px;
        }
        & p {
            position: absolute;
            top: 30px;
            left: 10px;
            transform: rotate(-15deg);
        }
        & span {
            display: block;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            right: 20px;
            margin-top: -15px;
            border: 8px solid transparent;
            border-left: 15px solid base.$green_color;
            z-index: 0;
            transform: rotate(65deg);
          }

        // 最後の吹き出し
        &--purple {
            background: base.$purple_color;
            @include base.mq(tab) {
                left: 200px;
            }
            &::before {
                border-left: 15px solid base.$purple_color;
                @include base.mq(tab) {
                    right: 60px;
                    transform: rotate(115deg);
                }
            }
            & p {
                @include base.mq(tab) {
                    transform: rotate(15deg);
                }
            }
        }
    }
}